## Compiled JavaScript files
lib/**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/
build/
.env



yarn-error.log

tmp*
src/tool/records.csv
src/tool/users_balance.csv
src/tool/record_transactions_*.csv

.vscode
*.DS_Store

public/*
!public/logo.png

coverage
lib
artifacts
